<div class="container">
  <h4>Your Share</h4>

    <% @shares.each do |s| %>
      <div class="card" style="width: 40rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= s.content %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    <% end %>

</div>
