<div class="container-fluid">

  <div class="splitL left">

    <div class="ml-2 share-panel">
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i> Your Calendar
        <% end %>
        <%= link_to public_shares_path do%>
          <i class="fas fa-clipboard"></i> Public Posts
        <% end %>
        <%= link_to new_share_path do %>
          <i class="far fa-edit"></i> New Post
        <% end %>
    </div>
  </div>

  <div class="splitR right">
    <div id="test">
    </div>
    <div class="user_shares" id="user_shares">
      <%= render partial: 'usershare' %>
    </div>
  </div>

</div>
