
  <div class="container-fluid home">
    <% if user_signed_in? %>
      <h1> this is what signed-in users will see... </h1>
      <h3> information about exercise.. news feed </h3>

    <% else %>
      <h1 class="display-2 ml-3 my-0">move</h1>
      <h1 class="display-4 ml-3" style="display: none;">to make a difference</h1>
      <h1 class="display-4 ml-3" style="display: none;">to make yourself proud</h1>
    <% end %>
  </div>
