
  <div class="container-fluid home">

    <div class="container news">
      <% if user_signed_in? %>


      <%# x = FeedBuilder.new(current_user).first %>
      <%#= link_to x[:title], x[:url]%>
      <%#= FeedBuilder.new(current_user).first[:content].html_safe %>


      <% FeedBuilder.new(current_user).feed.each do |entry| %>
      <%# FeedBuilder.new(current_user).feed returns an array of objects %>
        <div>
          <%= entry[:title] %>
          <%= link_to "link", entry[:url] %>
          <%# entry[:content].html_safe %>
          <%# entry[:content] %>
        </div>
      <% end %>

    </div>

    <% else %>
      <h1 class="display-2 ml-3 my-0">move</h1>
      <h1 class="display-4 ml-3" style="display: none;">to make a difference</h1>
      <h1 class="display-4 ml-3" style="display: none;">to make yourself proud</h1>
    <% end %>
  </div>
