<div class='nested-fields'>
  <%= f.input :name, label: "Exercise", required: true, input_html: { class: 'exe' } %>
  <%= f.input :colour, label: "Colour", required: true,
      input_html: {id: 'mini'} %>
  <%= link_to_remove_association "remove exercise", f %>
</div>
