<div class='nested-fields'>

  <div class="row mx-3">
    <div class="col-sm-6">
        <%= f.input :name, label: "Exercise",
            required: false,
            input_html: { class: 'exe-input' },
            label_html: { class:'exe-label'} %>
    </div>
    <div class="col-sm-6">
      <%= f.input :colour, label: "Colour", required: false,
          input_html: {id: 'mini', class: 'colour-box',type:"hidden"},
          label_html:{ class:'colour-label'} %>
    </div>
  </div>
  <%= link_to_remove_association f,
      class:"btn btn-dark btn-sm mt-1" do %>
        <i class="fas fa-minus-square"></i> exercise
      <% end %>
</div>
