<div class="container mt-3">

  <%= render 'form_edit' %>
</div>


<script type="text/javascript">
  const allPairs = <%= raw @user_pair_string || {} %>;
  console.log(allPairs);

  function matching(){
    $('.exe-input').on('change', function(){
      let exercise = $(this).val().toLowerCase();
      for (let p in allPairs){
        if(p == exercise){
          console.log("match!");

          const colourBlock = $(this).parents('.row').find('.minicolors-swatch-color').eq(0);
          colourBlock.css('backgroundColor', allPairs[p]);

          let colourValue = $(this).parents('.row').find('#mini').eq(0);
          colourValue.val(allPairs[p]);

        }
      }
    })
  }
  matching();

  $('#options').click(function(e){
    matching();
  })

</script>
