<div class="container mt-3">
<h1>records index page</h1>
    <div class="faker" style="width:500px;">
      <%= month_calendar events: @records do |date, records| %>
        <div class="cell">
          <% records.each do |r| %>
              <% r.exercises.each do |e| %>
                <div id="<%= r.id %>"
                  class="inner-cell text-center"
                  style="background-color:<%= e.colour %>;">
                  <span><%= e.name %></span>
                </div>
              <% end %>
          <% end %>

        </div>
      <% end %>
    </div>
</div>
