<div class="container mt-3">

<%# Calendar with events/records --------------------------------%>



<%= link_to "my page", user_path(current_user) %>
<%# ---------------------------------------------------------------%>


<script>

</script>
</div>
