<div class="container my-3">
  <h4>New record:</h4>
  <%= render 'form' %>

  <%#= @user_pair_string %>
<br />


<script type="text/javascript">
    const allPairs = <%= raw @user_pair_string || {} %>;
    console.log(allPairs);
    let exercise;
    $('.exe').on('change', function(){
      temp = $(this).val().toLowerCase();
      exercise = temp[0].toUpperCase()+ temp.slice(1);
      for (let p in allPairs){
        if(p == exercise){
          console.log("match!");
          $(this).parent().next().find("#mini").val(allPairs[p]);
        }
      }
    })



</script>
</div>
