<div class="container my-3">


    <%= render 'form' %>



</div>

<script type="text/javascript">
    const allPairs = <%= raw @user_pair_string || {} %>;
    console.log(allPairs);

    function matching(){
      $('.exe-input').on('change', function(){
        let exercise = $(this).val().toLowerCase();
        for (let p in allPairs){
          if(p == exercise){
            console.log("match!");
            const mini = $(this).parents('.row').find('#mini');
            mini.val(allPairs[p]);
          }
        }
      })
    }
    matching();

    $('#options').click(function(e){
      matching();
    })

    // applying the lasest record
    const latestPair = <%= raw @latest_pair|| {} %>;
    console.log('latest pair', latestPair);
    const latestExercise = Object.keys(latestPair)[0];

    $('.latest-record').click(function(){
      $('.exe-input').eq(0).val(latestExercise);
      $('#mini').val(latestPair[latestExercise]);
      $('.colour-box').eq(0).css('background-color',latestPair[latestExercise]);

    });
</script>
