<div class="container my-3">


    <%= render 'form' %>



</div>

<script type="text/javascript">
    const allPairs = <%= raw @user_pair_string || {} %>;
    console.log(allPairs);

    function matching(){
      $('.exe-input').on('change', function(){
        let exercise = $(this).val().toLowerCase();
        for (let p in allPairs){
          if(p == exercise){
            console.log("match!");
            const mini = $(this).parents('.row').find('#mini');
            mini.val(allPairs[p]);
          }
        }
      })
    }
    matching();


</script>
