
  <div class="container-fluid about">

      <div class="container" style="background-color: whitesmoke; opacity:0.8; margin-top:30px;">

          <h2 class="text-secondary">about</h2>

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#why">
                Why did I build this
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#how">
                How did I build this
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#who">
                Who am I
              </a>
            </li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active text-justify pb-5" id="why">

                <h4>Why did I build this?</h4>
                  <p> &nbsp; &nbsp; &nbsp;Life is not easy. People are busy working and dealing with different tasks each day. It is hard to take care of oneself psychologically and/or physically. </p>
                  <p> &nbsp; &nbsp; &nbsp;More people realize the importance of health, but some of them don't live a healthy life. Why? Becasue it is easy to find an excuse not to perform healthy activities? Becasue they don't have enough motivation? Or becasue it is difficult to see the progress they'd make, especially during the first phase of building a health habit.  </p>
                  <p> &nbsp; &nbsp; &nbsp;This website helps people to visualize their  achievement of exercise. </p>

            </div>
            <div class="tab-pane fade text-justify pb-5" id="how">
              <h4>How did I build this?</h4>
                <p> Ruby on Rails. </p>
                <p> JavaScript, JQuery</p>
                <p> HTML, CSS, Bootstrap</p>
            </div>
            <div class="tab-pane fade text-justify pb-5" id="who">
              <h4>Who am I?</h4>
                <p> Gloria Ding. Junior full stack developer.</p>

            </div>
          </div>

      </div>


  </div>
