
<div class="container-fluid">


    <div id="why" class="tabcontent">
      <h3>Why did I build this ?</h3>
      <div class="text-justify">
        <p> &nbsp; &nbsp; &nbsp;Life is not easy. People are busy working and dealing with different tasks each day. It is hard to take care of oneself psychologically and/or physically. </p>
        <p> &nbsp; &nbsp; &nbsp;More people realize the importance of health, but some of them don't live a healthy life. Why? Becasue it is easy to find an excuse not to perform healthy activities? Becasue they don't have enough motivation? Or becasue it is difficult to see the progress they'd make, especially during the first phase of building a health habit.  </p>
        <p> &nbsp; &nbsp; &nbsp;This website helps people to visualize their  achievement of exercise. </p>
      </div>
    </div>

    <div id="how" class="tabcontent">
      <h3>How did I build this ?</h3>
      <p> Ruby on Rails </p>
      <p> JavaScript, AJAX</p>
      <p> jQuery</p>
      <p> HTML, CSS, Bootstrap</p>
    </div>

    <div id="me" class="tabcontent">
      <h3>Who am I ?</h3>
      <p> Gloria Ding. </p>
      <p> Junior full stack web developer. </p>
      <div class="my-links">
        <a href="https://www.linkedin.com/in/gloriading/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/gloriading" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>

    <button class="tablink"
            onclick="openTab('why', this, 'rgba(199, 173, 136, 0.75)')"
            id="defaultOpen">
            WHY
    </button>
    <button class="tablink"
            onclick="openTab('how', this, 'rgba(100, 112, 108, 0.75)')">
            HOW
    </button>
    <button class="tablink"
            onclick="openTab('me', this, 'rgba(147, 83, 71, 0.75)')">
            ME
    </button>


    <script>
    function openTab(option,elmnt,color) {
        let i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(option).style.display = "block";
        elmnt.style.backgroundColor = color;

    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>

</div>
