
  <div class="container-fluid about">
    <div class="w-75 ml-5">
      <h2 class="text-secondary">about</h2>

      <blockquote class="blockquote ml-4 text-justify">
        <h4>Why did I build this?</h4>
          <p> &nbsp; &nbsp; &nbsp;Life is not easy. People are busy working and dealing with different tasks each day. It is hard to take care of oneself psychologically and/or physically. </p>
          <p> &nbsp; &nbsp; &nbsp;More people realize the importance of health, but some of them don't live a healthy life. Why? Becasue it is easy to find an excuse not to perform healthy activities? Becasue they don't have enough motivation? Or becasue it is difficult to see the progress they'd make, especially during the first phase of building a health habit.  </p>
          <p> &nbsp; &nbsp; &nbsp;This website helps people to visualize their  achievement of exercise. </p>
      </blockquote>

        <h4>How did I build this?</h4>
        <h4>What are some future improvements?</h4>

      <footer class="footer">
        <div class="footer-copyright">
          <div class="social-section text-center">
            <div class="container-fluid">
                © 2018 Copyright: Gloria Ding </a>
            </div>
        </div>
      </footer>

    </div>
  </div>
