
  <div class="container-fluid about">
    <h1>about</h1>
    <h3>Why I build this?</h3>
    <h3>How I build this?</h3>
    <h3>What are some future improvements?</h3>

    <footer class="footer">
      <div class="footer-copyright">
        <div class="social-section text-center">
          <div class="container-fluid">
              © 2018 Copyright: Gloria Ding </a>
          </div>
      </div>
    </footer>
  </div>
