// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .next-month, .prev-month {
    background-color: whitesmoke;
    // opacity: 0.5;
  }
  .current-month {}

  .has-events {}
}
//  -----------------------------------------user show page - calendar

td.day {
  cursor: pointer;
  padding:0 !important;
}

.cell{
  display:flex;
  flex-direction: column;
  height: 100%;
}

.inner-cell{
  flex-grow: 1;
  // the following is to center the text inside a day
  display:flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  font-size: 12px;
  color:white;
}

.show-day, .show-exe, .screenshot{
  border-radius: 20px !important;
}

.all-records{
  display: none;
}
// Modal
.show-modal {
  background-color: NAVY !important;
  opacity: 0.8;
  color: white !important;
  width: 250px !important;
  height: 250px !important;
  box-shadow: 0 8px 6px -6px black;
  padding: 5px;

}
// user_icon
.user_icon{
  font-size: 20px;
}

.user-info{
  margin-bottom: 30px;
  text-align: right;
}
// calendar heading
.calendar-heading > a{
  text-decoration: none;
  font-size: 20px;
  color:DARKBLUE;
}
// Loading animation

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}


// --------------------------------------------------  Record Form
.record-card{
  width: 40vw;
  padding:15px;
  border: 1px solid CORNFLOWERBLUE;
  box-shadow: 0 8px 16px -6px black;
}

.colour-box{
  height: 35px !important;
  // width: 100px !important;
}
.colour-label{
  display: block !important;
}
.advanced-options{
  display:none;
}

// Form Error Messages
 .has-error > .help-block {
   color:darkblue;
   font-size: 0.8em;
   font-weight: bold;
 }

// Sign Up Form
.form-card{
  width: 40vw;
  box-shadow: 0 8px 6px -6px black;
  opacity: 0.8;
}

// Form button
.dark-blue-btn{
  border-radius: 30px !important;
  background-color: MEDIUMBLUE !important;
}
.dark-blue-btn:hover{
  background-color: DARKBLUE !important;
}
// Sign-in flash message
.flash-alert{
  color:darkblue;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}





//-----------------------------------------------------------------[Home page]
// Articles
.full-content {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: whitesmoke;
}
.content-list-container{
  margin-top: 10px;

}
.display-2, .display-4 {
  color:whitesmoke;
}
.home > h1{
  text-shadow: 1px 1px black;
}

//
