// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .next-month, .prev-month {
    background-color: whitesmoke;
    opacity: 0.5;
  }
  .current-month {}

  .has-events {}
}
// user show page - calendar ----------------------------------
td.day {
  cursor: pointer;
  padding:0 !important;
}

.cell{
  display:flex;
  flex-direction: column;
  height: 100%;
}

.inner-cell{
  flex-grow: 1;
  // the following is to center the text inside a day
  display:flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.all-records{
  display: none;
}
.colour-box{
  height: 30px !important;
}
.colour-label{
  display: block !important;
}

.show-day, .show-exe{
  border-radius: 20px !important;
}
// Form related -------------------------------------------
.advanced-options{
  display:none;
}
// Form Error Messages
 .has-error > .help-block {
   color:darkblue;
   font-size: 0.8em;
   font-weight: bold;
 }
// Sign Up Form
.form-card{
  width: 40vw;
  box-shadow: 0 8px 6px -6px black;
}
// Form button
.dark-blue-btn{
  border-radius: 30px !important;
  background-color: MEDIUMBLUE !important;
}
.dark-blue-btn:hover{
  background-color: DARKBLUE !important;
}
// Record form
.record-card{
  width: 40vw;
  padding:15px;
  border: 1px solid CORNFLOWERBLUE;
  box-shadow: 0 8px 16px -6px black;
}
//-----------------------------------------------------------------
// Modal
.show-modal{
  background-color: NAVY !important;
  opacity: 0.8;
  color: white !important;
  width: 300px !important;
  height: 300px !important;
  box-shadow: 0 8px 6px -6px black;
  padding: 5px;

}











//
