// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .next-month, .prev-month {
    background-color: whitesmoke;
    opacity: 0.5;
  }
  .current-month {}

  .has-events {}
}

td.day {
  cursor: pointer;
  padding:0 !important;
}

.cell{
  display:flex;
  flex-direction: column;
  height: 100%;
}

.inner-cell{
  flex-grow: 1;
}

.day-cell{
  // z-index: 2;
}
.all-records{
  display: none;
}
.colour-box{
  height: 30px !important;
}
.colour-label{
  display: block !important;
}
// _form.html.erb -----------------------------------------
.advanced-options{
  display:none;
}
