// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.simple-calendar {
    margin: 10px;
    padding: 10px;
    background-color: #424949;
    // background-color: #7887AB;
    box-shadow: 0 8px 10px -6px WHITESMOKE;

    .calendar-heading{
        .calendar-title{
          margin-left: 5px;
          font-size: 20px;
          letter-spacing: 3px;
          color:white;
          text-shadow: 1px 1px black;
        }
        .arrow{
          font-size: 20px;
          color: #CCD1D1;
        }
        a{ text-decoration: none;}
        a:hover{ color: black;}
    }
    .table{
        th{
          text-align: center;
          color: #B3B6B7;
          font-weight: normal;
          letter-spacing: 2px;
        }
        .next-month, .prev-month { background-color: #707B7C; }
        .today {
          background-color: inherit;
            .day-cell{ color:white !important; font-weight: 500;}
            .cell:hover{ border: 2px white solid; }
        }
        .current-month{
          .day-cell{ color: #707B7C;}
        }
        .day {
          cursor: pointer;
          padding:0 !important;
        }
        .cell{
          display:flex;
          flex-direction: column;
          height: 100%;
              .day-cell{
                display:none;
                padding-left: 2px;
              }
              .inner-cell{
                flex-grow: 1;
                // the following is to center the text inside a day
                display:flex;
                justify-content:center;
                align-content:center;
                flex-direction:column;
                font-size: 14px;
                color:white;
                overflow:hidden;
              }
        }

    }

}
// --------------------------------------------------------- [ user-panel ]

.user-menu {
    #accordion{
      margin-top: 10px;
    }
    .card{
      border:none !important;
    }
    #user-info{
      a {
          font-weight: bold;
          font-size: 30px;
          color: #B3B6B7;
          text-decoration: none !important;
      }
      a:hover{ color: whitesmoke; }
    }
    .card-header{
        padding:1px;
        background-color: #424949;
        border-bottom: 1px #A6ACAF solid;

        .btn-link{
          margin:0;
          text-decoration: none !important;
          letter-spacing: 1px;
          text-align: center;
          color:white;
            span.btn{
                padding: 5px;
                margin: 1px;
                background-color: inherit;
                color:inherit;
                border:none;
            }
        }
    }
    .card-body{
        background-color: #bbbbbb;

        select{
          height:35px;
          padding-left: 10px;
        }

        .btn{
          letter-spacing: 2px;
          background-color: #FF6600 !important;
          border: #6E2C00 !important;
          color: white;
          box-shadow: 2px 2px gray;
        }

        .btn:hover{
          background-color: MEDIUMBLUE !important;
          color: white !important;
        }

    }
}

// ------------------------------------------------------------ [Hidden field]
.all-records { display: none; }

// -------------------------------------------------------------[  Modal ]
.show-modal {
  background-color: NAVY !important;
  opacity: 0.8;
  color: white !important;
  width: 250px !important;
  height: 250px !important;
  box-shadow: 0 8px 6px -6px black;
  padding: 5px;
}

//  ------------------------------------------------------- [Loading animation]

.spinner {
  width: 80px;
  height: 80px;
  background-color: #1A237E;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.loading-info{
  text-align: center;
  font-size: 40px;
  color: White;
  text-shadow: 1px 1px navy;
}

// --------------------------------------------------------- [ the Chart ]
.myChart{
  width: 80vh;
}
.go-top{
  border:none;
  font-size: 20px !important;
}

// --------------------------------------------------------- [  Record Form  ]

.record-card{
  background-color: whitesmoke;
  opacity: 0.8;
  width: 60vw;
  padding: 15px;
  box-shadow: 0 8px 16px -6px black;
}
.selected-date{
    p:first-child{
      font-weight: bolder;
      color: DARKBLUE;
      margin-bottom: 5px;
    }
    p:nth-child(2){
      font-size: 0.8em;
      color: ROYALBLUE;
      margin-top: 0px;
      a{ text-decoration: none;}
    }
}

.colour-box{
  height: 35px !important;
  width: 200px !important;
}
.colour-label{
  display: block !important;
}
.advanced-options{
  display:none;
}
.show-adv-opt, .latest-record{
  color:ROYALBLUE !important;
}

// Form Error Messages
 .has-error > .help-block {
   color:darkblue;
   font-size: 0.8em;
   font-weight: bold;
   display: block !important;
 }

// Sign Up Form
.form-card{
  width: 40vw;
  box-shadow: 0 8px 6px -6px black;
  opacity: 0.8;
}

// Form button
.dark-blue-btn{
  border-radius: 30px !important;
  background-color: MEDIUMBLUE !important;
}
.dark-blue-btn:hover{
  background-color: DARKBLUE !important;
}
// Sign-in flash message
.flash-alert{
  color:darkblue;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-control{
  border: none !important;
  border-bottom: 1px gray solid !important;

}
input:focus,textarea:focus {
  background-color: WHITESMOKE !important;
}

//-----------------------------------------------------------[record show page]
.exe-time{
  color:#7F8C8D;
  display: none;
}
.exe-item{
  font-size: 50px;
  margin: 0;
}
.exe-notes{
  border: 1px solid gray;
  padding: 5px;
}
//-----------------------------------------------------------------[Home page]
.content-list-container{
  margin-top: 10px;
  padding: 10px;
  border: 5px white solid;
  background-color: whitesmoke;
  opacity: 0.9;
  height: 80vh;
  overflow: auto;
  a{
    margin-left: 5px;
    text-decoration: none !important;
  }
  a:link{ color:hotpink; }
  a:visited{ color:green; }
  a:hover{ background-color: hotpink; color:white;}
}
.display-2, .display-4 {
  color:whitesmoke;
}
.home > h1{
  text-shadow: 1px 1px black;
}

// ------------------------------------------------------------------[About]
.about{
  background-color: WHITESMOKE;
  opacity:0.8;
  margin-top:30px;
}
.tab-content {
  p{
    font-family: Tahoma, Helvetica;
    font-size: 1.1em;
  }

}
//
